@import "../component/button.styl"

#select
  background-position 38.888888889vw 108.148148148vw
  background-repeat no-repeat
  background-size 75.092592593vw 78.518518519vw
  position fixed
  top 0
  left 0

  > *
    position absolute

  header
    top 6.018518519vw
    left 9vw
    display flex
    justify-content center
    align-items center

    .slogan
      width 54.259259259vw

    .monster
      width 25vw

  .select-container
    margin-top 45vw
    padding 0 13.240740741vw

    &.grid
      display flex
      flex-wrap wrap

    &.page-2
      margin-top 39vw

      .form-label
        margin-bottom .75em

  .form-label
    font-weight bold
    line-height 1.4
    margin-top 0
    margin-bottom 1.5em

  .form-option
    @extend .simple-button
    font-size: 13px;
    width: 100%;
    text-align: left;

    + .form-option
      margin-top 11px

    &:focus
      outline none

    &:hover,
    &:active
      background-image linear-gradient(to bottom, #700505, #60140a)

  .form-option-item
    flex 1 0 45%

    img
      display block
      max-width 100%
      transform scale(1.125)
      margin-bottom 5px

    .form-option
      text-align center

    &:nth-child(2n)
      margin-right 2.5vw

    &:nth-child(n + 4)
      margin-top 2.5vw

  .form-option,
  .form-option-item
    for n in (1..4)
      &:nth-of-type({n})
        animation-delay .33s * n + .8s

