#homepage
  position relative

  .cover
    width 100%
    height 100%

    &.slideUp
      transition .5s transform
      transform translate3d(0,-100%,0)

  .wukong
    position absolute
    top 12.90%
    left 9%
    width 82%

    &.in
      transition 1s all

  .bufu
    position absolute
    top 32%
    left 30.8%
    width 38.4%

  .faxing
    position absolute
    top 60%
    left 21.6666667%
    width 56.666666%

  .bg
    position absolute
    top 0
    left 0
    width 100%
    z-index 0

  footer
    position absolute
    left 0
    right 0
    bottom 0
    padding 0 0 .8em
    font-size 1.5em

    i
      color white
      display block
      text-align center

  .nav
    width 100%
    height 100%
    background-repeat no-repeat
    background-size contain
    position absolute
    transition .5s opacity
    top 0
    overflow hidden

    &.backdrop
      opacity .6

    a
      position absolute

      img
        width 207px

      @media (min-width 321px) and (max-width 374px)
        &
          width 199px

      @media (max-width 320px)
        &
          width 177px

    .about
      top 8.9955022%
      left 36%

    .chupin
      top 17.6%
      left 62.4%

    .intro
      top 26.8%
      left 38%

    .zhuchuang
      top 35.982009%
      left 62.4%

    .price
      top 46.4%
      left 38%

    .video
      top 55.8%
      left 62.4%