.zhuchuang
  .haibao-link
    position absolute
    left 11%
    top 232px
    width 45%
    display flex
    flex-wrap wrap

    a
      display block
      height 1.6em

    .col3
      width 4.5em

    .col2
      width 3.2em

    .bottom
      width 5em
      margin-top 1.8em