.zhuchuang
  .haibao-link
    position absolute
    left 6%
    top 47vw
    width 74%
    display flex
    flex-wrap wrap

    a
      display block
      width 17vw
      height 22vw

      + a
        margin-left 2vw

      &:nth-child(4n + 1)
        margin-left 0

      &:nth-child(n+5)
        margin-top 1vw

    .bottom
      margin 10vw 3vw 0 0 !important