header.animated.fadeInDown.delay-1s
  h1
  p.lead

.result-container
  .result-image

.btn-group.animated.fadeInUp.delay-1s
  a.result-button(href="#/select")
    img(src="{{btn1}}")
  a.result-button(
    target="_blank",
    href="https://h5.m.taopiaopiao.com/app/movie/pages/index/show-detail.html?showid=215417",
  )
    img(src="{{btn2}}")
  button.result-button.share-button(type="button")
    img(src="{{btn3}}")

.share.hide.animated(style="background-image:url(./img/bg.jpg)")
  .tip.animated.pulse.infinite(style="background-image:url(./img/share-btn-bg.png)") 召集更多的队友找怪兽
  img.slogan(src="{{slogan}}")
  img.share-pic(src="{{share}}")
  p 快去召唤你的小伙伴哦~
