.page
  background-size contain
  background-repeat no-repeat
  background-color black

  .back-button
    position absolute
    bottom 1em
    left 28.8%
    width 56.4%

    img
      width 100%

  &.zhuchuang
    background-color white