.page,
.haibao
  background-size contain
  background-repeat no-repeat
  background-color black

  .back-button
    position absolute
    bottom 2em
    left 28.8%
    width 56.4%

    img
      width 100%