html
  font-size 16px

body
  font-family -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Yuanti SC", "Hiragino Sans GB", "YouYuan", "Microsoft JhengHei", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
  background-color #FEDB32
  background-size cover
  background-position center

.container
  color #442513
