@import "~normalize.css/normalize.css"
@import "~wukong/styl/preloader.styl"
@import "~spinkit/css/spinners/2-double-bounce.css"

@import "./core.styl"

body
  font-family -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Yuanti SC", "Hiragino Sans GB", "YouYuan", "Microsoft JhengHei", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif

.sk-double-bounce .sk-child
  background white

#loading
  display flex
  flex-direction column
  justify-content center
  align-items center

#player
  top auto
  bottom 1em
1
