@import "~normalize.css/normalize.css"
@import "~wukong/styl/preloader.styl"
@import "~spinkit/css/spinners/2-double-bounce.css"

@import "./core.styl"

.sk-double-bounce .sk-child
  background white

#loading
  display flex
  flex-direction column
  justify-content center
  align-items center
