@import "~normalize.css/normalize.css"
@import "~wukong/styl/preloader.styl"
@import "~spinkit/spinkit.min.css"

@import "./core.styl"

.sk-double-bounce .sk-child
  background white

#loading
  display flex
  flex-direction column
  justify-content center
  align-items center

#player
  top auto
  bottom 1em
1
