doctype html
html(lang="zh-cmn-Hans")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title 江湖怪兽

  body
    #loading.container
      #progress.animated 0%

    .visually-hidden 由
      a(href="https://roudan.io/", target="_blank") 肉蛋工作室
      | 设计开发。

    //audio#music.hide(src="./audio/frog.mp3", preload="auto" loop)
