@import "../node_modules/normalize.css/normalize.css"

// core
@import "core/_variable.styl"

// component
@import "component/_container.styl"

// framework
@import "framework/_body.styl"

// page
@import "page/_loading.styl"