// core
@import "core/_variable.styl"
@import "core/_core.styl"

// animation
@import "../node_modules/animate.css/source/_base.css"
@import "../node_modules/animate.css/source/fading_entrances/fadeIn.css"
@import "../node_modules/animate.css/source/fading_entrances/fadeInUp.css"

// component
@import "component/_player.styl"
@import "component/_page.styl"
@import "component/_clouds.styl"

// view
@import "page/_homepage.styl"
@import "page/_video.styl"